* {
	padding: 0%;
	margin: 0%;
	font-family: 'Roboto';
}

body {
	/* Evite alterar */
	background-image: url(../img/galaxia-background.png);
	background-attachment: fixed;
	background-size: 100vw;
}

.principal {
	/* Vidro maior principal */
	background-color: #dbdbdb10;
	height: 100%;
	max-width: 1240px;
	margin: 0 100px;
	min-width: 620px;
	box-shadow: 4px 0px 4px #00000050, -4px 0px 4px #00000050;
}
.box-slider {
	height: auto;
	padding: 20px;
	

}

input[type=radio] {
	display: none;
}

#slider {
	height: 35vw;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

#slider label {
	margin: auto;
	width: 60%;
	height: 100%;
	border-radius: 4px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: transform 0.4s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
	box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
	transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(30%, 0, -240px);
}

.containernoticiareview {
	/* Container transparente para os dois cards de notícia */
	/*background-color: crimson;*/
	background-color: #dbdbdb10;
	padding-top: 25px;
	width: calc(100% - 10px);
	height: 290px;
	/*min-width: 400px;*/
	/*margin: 10px;*/
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.cardreview, .cardnoticia {
		/*background-color: yellow;*/
		background-color: #dbdbdb10;
		flex: 1;
		margin: 5px;
		height: 290px;
		/*flex-basis: 40%;  /*define a largura inicial dos cards;*/
		width: calc(50% - 5px);
		/*width: 50%;*/
		flex-grow: 1;
		box-shadow: 2px 4px 4px #00000050;
		display: flex;
		flex-direction: column;

		
  }
  
  .review-imagem-texto {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .review-imagem-texto img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
  }
  
 
.titulonoticiareview {
	font-size: 1.5rem;
	text-shadow: 0.1rem 0.1rem #00000040;
	font-family: 'Sora', sans-serif;
	font-weight: 600;
	color: #dbdbdb;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.textoreview{
    display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 1rem;
	text-shadow: 0.1rem 0.1rem #00000040;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #dbdbdb;
	text-align: justify;
	text-indent: 45px;
}

  /*
  .cardnoticia {
	background-color: aqua;
	/*background-color: #dbdbdb10;
	margin: 5px;
	height: 380px;
	width: calc(50% - 10px);
	min-width: 160px;
	box-shadow: 2px 4px 4px #00000050;
  }
	*/

/*
.imagem{
	/*background-position: center;
	width: calc(100% - 5px);
	height: 435px;
	background-size: cover;
	border-radius: 0 50px 0 50px;
}

.imagem-mario{
	background-image: url(../img/mario.jfif);
  }

.imagem-roblox{
	background-image: url(../img/robloxlogo.webp);
}
.imagem-factorio{
	background-image: url(../img/factorio.png);
}
.imagem-thesims{
	background-image: url(../img/thesims.jpg);
}
.imagem-zelda{
	background-image: url(../img/zelda-principal.webp);
}*/