* {
	padding: 0%;
	margin: 0%;
	font-family: 'Roboto';
}

body {
	/* Evite alterar */
	background-image: url(../img/galaxia-background.png);
	background-attachment: fixed;
	background-size: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.principal  {
	/* Vidro maior principal */
	background-color: #dbdbdb10;
	height: 100%;
	max-width: 1240px;
	margin: 0 100px;
	min-width: 620px;
	box-shadow: 4px 0px 4px #00000050, -4px 0px 4px #00000050;
}


.box-slider {
	height: auto;
	padding: 20px;
	

}

input[type=radio] {
	display: none;
}

#slider {
	height: 35vw;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

#slider label {
	margin: auto;
	width: 60%;
	height: 80%; /* altera a altura do slider */
	border-radius: 4px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	transition: transform 0.4s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
	box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
	transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
	transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
	transform: translate3d(30%, 0, -240px);
}

.containernoticiareview {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*gap: 20px;*/
}

.cardreview, .cardnoticia {
	/*background-color: yellow;*/
	padding-top: 20px;
	height: 380px;
	width: calc(100% - 5px);
	/*background-color: #dbdbdb10;*/
	/*box-shadow: 2px 4px 4px #00000050;*/
	margin-bottom: 50px;
	display: flex;
	min-width: 160px;
	border-radius: 0 50px 0 50px; /* adicione essa propriedade */
}
  
  .noticia-imagem-texto {
	height: 320px;
	width: calc(100% - 5px);
	display: flex;
	flex-direction: column;
	margin: 15px;
	align-items: center;
	justify-content: center;
  }

.titulonoticiareview {
	width: calc(100% - 5px);
	height: auto;
	margin-left: 15px;
	padding-top: 15px;
	font-size: 1.5rem;
	text-shadow: 0.1rem 0.1rem #00000040;
	text-align: left;
	font-family: 'Sora', sans-serif;
	font-weight: 600;
	color: #dbdbdb;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.textoreview, .textoNoticia {
	height: 70px;
	width: calc(100% - 5px);
	font-size: 1rem;
	text-shadow: 0.1rem 0.1rem #00000040;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	/*display: inline-block;*/
	color: #dbdbdb;
	text-align: justify;
    padding: 10px; /* adiciona um padding para o texto resumido da review */
    border-radius: 10px; /* adiciona um efeito de borda arredondada para o texto resumido da review */
    /*box-shadow: 2px 4px 4px #00000050;  adiciona um efeito de sombra para o texto resumido da review */
	box-shadow: 
    0 0 0px #33ccff, /* sombra neon azul */
    0 0 0px #66ffff, /* sombra neon verde-azul */
    0 0 0px #99ff99; /* sombra neon verde */
}
	
.imagem {
	/*background-position: center;*/
	width: 100%;
	height: 550px;
	border-radius: 0 50px 0 50px; /* adicione essa propriedade */
	background-size: cover;
	background-position: center;
	box-shadow: 
    0 0 10px #33ccff, /* sombra neon azul */
    0 0 20px #66ffff, /* sombra neon verde-azul */
    0 0 30px #99ff99; /* sombra neon verde */
  }
  
  .imagem-roblox {
	background-image: url(../img/priscilla/roblox1.jpg);
  }

  .imagem-factorio {
	background-image: url(../img/priscilla/factorio1.jpg);
  }

  .imagem-mario {
	background-image: url(../img/priscilla/mario.jpg);
  }

  .imagem-zelda {
	background-image: url(../img/priscilla/zelda.jpg);
  }

  .imagem-sims {
	background-image: url(../img/priscilla/sims.jpg);
  }
